<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Show Student Information</title>
<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
   <body>

      <h2>Hand Wash Information</h2>
      <ul>
       <li><b>Case 0</b>: Compliance with the rules</li>
       <li><b>Case 1</b>: <font color="red">Incompliance</font> with the rule of <b>"wash hands after touching patient"</b></li>
       <li><b>Case 2</b>: <font color="red">Incompliance</font> with the rule of <b>"wash hands before touching patient"</b></li>
       <li><b>Case 3</b>: <font color="red">Incompliance</font> with the rules of <b>"wash hands before and after touching patient"</b></li>
      </ul>

      <table border=1 >
         <thead>
            <tr>
               <th>Person</th>
               <th>Case 0</th>
               <th>Case 1</th>
               <th>Case 2</th>
               <th>Case 3</th>
               <th>Total Incompliance</th>
            </tr>            
         </thead>
         <tbody>
            <tr>
               <td>Doctor</td>
               <td>{{results[0][0]}}</td>
               <td>{{results[0][1]}}</td>
               <td>{{results[0][2]}}</td>
               <td>{{results[0][3]}}</td>
               <td>{{results[0][4]}}</td>   
            </tr>
            <tr>
               <td>Nurse</td>
               <td>{{results[1][0]}}</td>
               <td>{{results[1][1]}}</td>
               <td>{{results[1][2]}}</td>
               <td>{{results[1][3]}}</td>
               <td>{{results[1][4]}}</td>   
            </tr>
         </tbody>
         
      </table>

      <h2><a href = "/">Back Home</a></h2>


   </body>
</html>